body{
    background-color: #cccccc;
}

.screen{
    display: flex;
    flex-direction: row-reverse;
    background-color: #ccffcc;
    border: solid 2px black;
    border-radius: 5px;
    gap: 32px;
    padding: 16px;
}

.digit-container-test{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-content: space-between;
}

.vertical-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-content: space-between;
}

.vertical-segment-test{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #cccc99;
}

.horizontal-segment-test{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pointer-up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #cccc99;
}

.pointer-right{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #cccc99;
    border-bottom: 10px solid transparent;
}

.pointer-down{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #cccc99;
}

.pointer-left{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #cccc99;
    border-bottom: 10px solid transparent;
}

.horizontal-segment{
    width: 50px;
    height: 20px;
    background-color: #cccc99;
}

.vertical-segment{
    width: 20px;
    height: 40px;
    background-color: #cccc99;
}
